@import "./_incl/bootstrap.min";
@import "./_incl/custom";
@import "./_incl/plugins";

//@import "./_incl/theme/main";
@import "./_incl/theme/vetclinic";
//@import "./_incl/theme/agility";

#main-nav {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-logo,
.header-logo {
    height: 5rem;
    margin: 0;

    filter: drop-shadow(2px 2px 2px RGB(0 0 0 / 0.3));
    // capital RGB as workaround for https://github.com/sass/node-sass/issues/2251
}

.footer-logo {
    margin-top: -1rem;
}

#slider {
    padding-top: 148px;
}

@media (max-width: 544px) {
    #slider {
        padding-top: 106px;
    }
}